
    @font-face {
      font-family: 'Volter';
      src: url('Volter.ttf') format('truetype');
    }
    * {
      font-family: 'Volter', sans-serif;  
    }
    .img-thumbnail {
      margin-bottom: 10px;
    }
